<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">The People App</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink = "/level1">Level 1</a>
      <a class="nav-item nav-link active" routerLink = "/level2">Level 2</a>
      <a class="nav-item nav-link active" routerLink = "/level3">Level 3</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      
    </div>
  </div>
</nav>