<div *ngIf="!occurrences">
	<p>Retrieve character count from email addresses</p>
	<button 
	(click)="getEmailCharacterCounts(people)" type="button" class="btn btn-dark">Go</button>
</div>
<div >
  <ng-container>
  	<table class="table" *ngIf="occurrences">
  		<thead class="thead-dark">
  			<th>Character</th> 			
  			<th>Number of Occurrences</th>
  		</thead>
  		<tr *ngFor="let item of occurrences">
  			<td>{{item.character}}</td>
  			<td>{{item.count}}</td>
  		</tr>
  	</table>
  </ng-container>  
</div>